<mat-toolbar class="mat-elevation-z8 topo menu">
	<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
		<div>
			<a mat-button routerLink="/manual-extract">Manual Extract</a>
			<a mat-button routerLink="/extractRequest">Extract Request</a>
			<a mat-button routerLink="/verifyModvalBuild">Verify - ModVal Built</a>
			<a mat-button routerLink="/promoteToProduction">Promote to Production</a>
			<a mat-button routerLink="/verifyProductionBuild">Verify - Production Build</a>
			<a mat-button routerLink="/logReport">Log Report</a>
		</div>
		<div>
			<a mat-button routerLink="**">Log Out</a>
		</div>
	</div>
	
</mat-toolbar>

<router-outlet />
