<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
	<div>
		<img alt='TH-Logo' src="TorontoHydroLogo.gif"/>		
	</div>
	<div>
		<span style="align-self: center;">Automated Model Build version:&nbsp;V3.1.0_20250127</span>	
	</div>
	<div style="margin-right: 1em;">	
		<b style="color:rgb(242,167,36);font-weight:bold;">
			iartimen&nbsp;&nbsp;			
		</b>		
		<a mat-mini-fab routerLink="**" title="Log Out from AMB">IA</a>
	</div>
</div>

<mat-toolbar class="mat-elevation-z8 topo menu">
	<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
		<div>
			<a mat-button routerLink="/manual-extract">Manual Extract</a>
			<a mat-button routerLink="/extractRequest">Extract Request</a>
			<a mat-button routerLink="/verifyModvalBuild">Verify - ModVal Built</a>
			<a mat-button routerLink="/promoteToProduction">Promote to Production</a>
			<a mat-button routerLink="/verifyProductionBuild">Verify - Production Build</a>
			<a mat-button routerLink="/logReport">Log Report</a>
		</div>
	</div>	
	
</mat-toolbar>

<router-outlet />
