@import '@angular/material/prebuilt-themes/azure-blue.css';

html,

body {
  height: 100%;
  margin: 0;
  font-family: Roboto Flex;
  overflow: hidden;
}

.menu {
  background-color: rgb(0, 93, 85) !important;
  justify-content: space-between;
  overflow-x: auto;
  height: var(--mat-toolbar-standard-height, 48px) !important;
}

.menu a:hover {
  color: rgb(242, 167, 36) !important;
}

.menu a {
  color: white !important;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 8px;
  margin-right: 8px;
}

.modvalBuildContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/* Wrapper to hold left and right columns */
.wrapper {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  max-height: 75vh;
  flex-direction: row;
}

/* Left Column: Controls and Table */
.left-column {
  flex: 10;
  /* Takes up 5/6 of the screen width */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Right Column: Submission Form */
.submission-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Enable scrolling if content overflows */
}

.submission-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

.submissionFormControls {
  min-height: 30%;
  mat-form-field {
    display: flex;
  }
}

.selectedIssueList{
  overflow-y: auto;
  overflow-x: hidden;
}

/* Table Container */
.table-container {
  table-layout: auto;
  border-radius: 8px;
  /* Retain existing styles */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Optional: Ensure controls don't grow excessively */
.controls-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--mat-paginator-container-background-color, var(--mat-app-surface));
  vertical-align: left;
  margin: 8px;
  border-radius: 8px;
}

.mat-sort-header-content {
  text-align: left;
}

td {
  font-weight: 500;
  font-size: larger;
}

.success {
  background: linear-gradient(to bottom, rgb(222, 245, 225) 0%, rgb(150, 199, 156) 100%) !important;
}

.success:hover {
  background: linear-gradient(to bottom, rgb(222, 245, 225) 0%, rgb(69, 131, 76) 100%) !important;
}

.warning {
  background: linear-gradient(to bottom, rgb(242, 226, 135) 0%, rgb(229, 192, 79) 100%) !important;
}

.warning:hover {
  background: linear-gradient(to bottom, rgb(242, 226, 135) 0%, rgb(172, 143, 57) 100%) !important;
}

.failed {
  background: linear-gradient(to bottom, rgb(245, 198, 202) 0%, rgb(234, 152, 161) 100%) !important;
}

.failed:hover {
  background: linear-gradient(to bottom, rgb(245, 198, 202) 0%, rgb(163, 91, 99) 100%) !important;
}

/* Centered Checkbox Divs */
.checkbox-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Header Column Filter Container */
.column-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Input Filter Style */
.column-filter-input {
  width: 98%;
}
