html,

body {
  height: 100%;
  margin: 0;
  font-family: Roboto Flex;
  overflow: hidden;
}

.menu {
  background-color: rgb(0, 93, 85) !important;
  justify-content: space-between;
  overflow-x: auto;
  margin: 8px;
}

.menu a:hover {
  color: rgb(242, 167, 36) !important;
}

.menu a {
  color: white !important;
  font-weight: 500;
  font-size: 1rem;
  margin: 8px;
}

/* Wrapper to hold left and right columns */
.wrapper {
  display: flex;
  gap: 1em; /* Optional: Adds space between columns */
  padding: 1em; /* Optional: Adds padding around the content */
}

/* Left Column: Controls and Table */
.left-column {
  flex: 10; /* Takes up 2/3 of the width */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Right Column: Submission Form */
.submission-form {
  display: flex;
  flex-direction: column;
  flex: 2; /* Takes up 1/3 of the width */
  max-height: 50vh; /* Optional: Limit the form's height if needed */
  width: 100%; /* Optional: Set a minimum width */
  overflow: auto; /* Enable scrolling if content overflows */
  justify-content: center;
}

/* Table Container */
.table-container {
  table-layout: auto; 
  max-height: 60vh; /* Limits table height to 50% of viewport height */
  overflow: auto; /* Adds scroll if table content exceeds max-height */
  border-radius: 8px; /* Retain existing styles */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow */
}

/* Optional: Ensure controls don't grow excessively */
.controls-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(
    --mat-paginator-container-background-color,
    var(--mat-app-surface)
  );
  vertical-align: left;
  margin: 8px;
  border-radius: 8px;
}

.mat-sort-header-content {
  text-align: left;
}

th {
  padding-left: 8px;
  padding-right: 8px;
}

td {
  font-weight: 500;
  font-size: larger;
}

.success {
  background: linear-gradient(
    to bottom,
    rgb(222, 245, 225) 0%,
    rgb(150, 199, 156) 100%
  ) !important;
}

.success:hover {
  background: linear-gradient(
    to bottom,
    rgb(222, 245, 225) 0%,
    rgb(69, 131, 76) 100%
  ) !important;
}

.warning {
  background: linear-gradient(
    to bottom,
    rgb(242, 226, 135) 0%,
    rgb(229, 192, 79) 100%
  ) !important;
}

.warning:hover {
  background: linear-gradient(
    to bottom,
    rgb(242, 226, 135) 0%,
    rgb(172, 143, 57) 100%
  ) !important;
}

.failed {
  background: linear-gradient(
    to bottom,
    rgb(245, 198, 202) 0%,
    rgb(234, 152, 161) 100%
  ) !important;
}

.failed:hover {
  background: linear-gradient(
    to bottom,
    rgb(245, 198, 202) 0%,
    rgb(163, 91, 99) 100%
  ) !important;
}

/* Centered Checkbox Divs */
.checkbox-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Header Column Filter Container */
.column-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mat-sort-header-content {
  text-align: left;
}

/* Input Filter Style */
.column-filter-input {
  width: 98%;
}

.container1 {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 65% 33%;

  grid-template-areas:
    "head head2 . side"
    "main main2 . side";
}
